* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  position: absolute;
  top: 0;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.logo {
  width: 20vw;
  padding-right: 230px;
  margin-right: 230px;
  margin-left: 25px;
}

#header-img {
  height: 150px; 
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

#hero {
}

.nav-link {
  font-weight: 600;
  font-size: large;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

/* .logo-text {
  font-family:'Times New Roman', Times, serif;
  font-size: xx-large;
  text-decoration: none;
  color: black;
  padding-right: 120px;
} */

h2 {
  text-align: center;
  /* position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; */
}

#hero {
  margin: auto;
  margin-top: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro {
  font-size: x-large;
  width: 75%;
  margin-bottom: 20px;
}

#email {
  margin: 10px 0;
  padding: 5px 3px;
}

#button {
  padding: 8px 30px;
  margin: 5px 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
}

#features {
  margin-top: 50px;
}